<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTKPTestLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MetalKitPlus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MetalKitPlusTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31BBCFCC1E69C9C100C8B718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31BBCFDF1E6A061400C8B718</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31CE05451F5CB0B2007D7C4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31E00C7D1DD8F12B00C47BE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
